In [71]:
import pandas as pd
import sys

sys.path.append("../pysubgroup/src/")
import pysubgroup as ps

In [72]:
path = "/home/gabriel/.cache/kagglehub/datasets/arjunbhasin2013/ccdata/versions/1/CC GENERAL.csv"
creditData = pd.read_csv(path)

creditData = creditData.dropna().round(2)

In [73]:
ALL_SELECTORS = [
    "CUST_ID",
    # "BALANCE",
    # "BALANCE_FREQUENCY",
    # "PURCHASES",
    # "ONEOFF_PURCHASES",
    # "INSTALLMENTS_PURCHASES",
    # "CASH_ADVANCE",
    # "PURCHASES_FREQUENCY",
    # "ONEOFF_PURCHASES_FREQUENCY",
    # "PURCHASES_INSTALLMENTS_FREQUENCY",
    # "CASH_ADVANCE_FREQUENCY",
    # "CASH_ADVANCE_TRX",
    "PURCHASES_TRX",
    # "CREDIT_LIMIT",
    # "PAYMENTS",
    # "MINIMUM_PAYMENTS",
    # "PRC_FULL_PAYMENT",
    # "TENURE",
]

PURCHASE_BEHAVIOUR_SELECTORS = [
    "CUST_ID",
    "BALANCE",
    "BALANCE_FREQUENCY",
    # "PURCHASES",
    # "ONEOFF_PURCHASES",
    # "INSTALLMENTS_PURCHASES",
    "CASH_ADVANCE",
    # "PURCHASES_FREQUENCY",
    # "ONEOFF_PURCHASES_FREQUENCY",
    # "PURCHASES_INSTALLMENTS_FREQUENCY",
    "CASH_ADVANCE_FREQUENCY",
    "CASH_ADVANCE_TRX",
    "PURCHASES_TRX",
    "CREDIT_LIMIT",
    "PAYMENTS",
    "MINIMUM_PAYMENTS",
    "PRC_FULL_PAYMENT",
    "TENURE",
]

FINANCIAL_AND_DEBT_SELECTORS = [
    "CUST_ID",
    # "BALANCE",
    "BALANCE_FREQUENCY",
    "PURCHASES",
    "ONEOFF_PURCHASES",
    "INSTALLMENTS_PURCHASES",
    # "CASH_ADVANCE",
    "PURCHASES_FREQUENCY",
    "ONEOFF_PURCHASES_FREQUENCY",
    "PURCHASES_INSTALLMENTS_FREQUENCY",
    # "CASH_ADVANCE_FREQUENCY",
    # "CASH_ADVANCE_TRX",
    "PURCHASES_TRX",
    "CREDIT_LIMIT",
    # "PAYMENTS",
    # "MINIMUM_PAYMENTS",
    # "PRC_FULL_PAYMENT",
    "TENURE",
]

COMPLEMENTARY_SELECTORS = [
    "CUST_ID",
    "BALANCE",
    "BALANCE_FREQUENCY",
    "PURCHASES",
    "ONEOFF_PURCHASES",
    "INSTALLMENTS_PURCHASES",
    "CASH_ADVANCE",
    "PURCHASES_FREQUENCY",
    "ONEOFF_PURCHASES_FREQUENCY",
    "PURCHASES_INSTALLMENTS_FREQUENCY",
    "CASH_ADVANCE_FREQUENCY",
    "CASH_ADVANCE_TRX",
    "PURCHASES_TRX",
    # "CREDIT_LIMIT",
    "PAYMENTS",
    "MINIMUM_PAYMENTS",
    "PRC_FULL_PAYMENT",
    # "TENURE",
]

OTHER_SELECTORS = [
    # "CUST_ID",
    "BALANCE",
    # "BALANCE_FREQUENCY",
    "PURCHASES",
    "ONEOFF_PURCHASES",
    "INSTALLMENTS_PURCHASES",
    "CASH_ADVANCE",
    "PURCHASES_FREQUENCY",
    "ONEOFF_PURCHASES_FREQUENCY",
    "PURCHASES_INSTALLMENTS_FREQUENCY",
    "CASH_ADVANCE_FREQUENCY",
    "CASH_ADVANCE_TRX",
    "PURCHASES_TRX",
    "CREDIT_LIMIT",
    "PAYMENTS",
    "MINIMUM_PAYMENTS",
    "PRC_FULL_PAYMENT",
    "TENURE",
]

In [74]:
def sdStandardQF(
    targetVar, maxSelectorSize, groupSizeReward, centroid, selectors, data
):
    target = ps.NumericTarget(targetVar)
    searchSpace = ps.create_selectors(data, ignore=selectors)
    task = ps.SubgroupDiscoveryTask(
        data,
        target,
        searchSpace,
        result_set_size=10,
        depth=maxSelectorSize,
        qf=ps.StandardQFNumeric(a=groupSizeReward, centroid=centroid),
    )
    return ps.BeamSearch().execute(task)

In [75]:
def sdStandardQFNumericTscore(targetVar, maxSelectorSize, selectors, data):
    target = ps.NumericTarget(targetVar)
    searchSpace = ps.create_selectors(data, ignore=selectors)
    task = ps.SubgroupDiscoveryTask(
        data,
        target,
        searchSpace,
        result_set_size=10,
        depth=maxSelectorSize,
        qf=ps.StandardQFNumericTscore(),
    )
    return ps.BeamSearch().execute(task)

### **Descrições com Todas as Variáveis**

#### Standard Quality Function for numeric targets.
    
This quality function computes interestingness of subgroups based on
the difference between subgroup mean (or median) and dataset mean (or median),
weighted by the size of the subgroup raised to the power of 'a'.

Attributes:
- a (float): Exponent to trade off between subgroup size and difference in means.
- invert (bool): Whether to invert the quality function (not used currently).
- estimator (str): Strategy for optimistic estimation ('sum', 'max', 'order').
- centroid (str): Central tendency measure ('mean', 'median', 'sorted_median').

In [ ]:
# SD 1: alvo numérico - todos os seletores - regras grandes (8) + punição 1.0 - média

result = sdStandardQF(
    targetVar="PURCHASES_TRX",
    maxSelectorSize=8,
    groupSizeReward=1.0,
    centroid='mean',
    selectors=ALL_SELECTORS,
    data=creditData,
)
result.to_dataframe()

In [78]:
# SD 2: alvo numérico - todos os seletores - regras grandes (8) + punição 0.5 - média

resultAll = sdStandardQF(
    targetVar="PURCHASES_TRX",
    maxSelectorSize=8,
    groupSizeReward=0.5,
    centroid='mean',
    selectors=ALL_SELECTORS,
    data=creditData,
)
# resultAll.to_dataframe()

In [ ]:
# SD 3: alvo numérico - todos os seletores - regras grandes (8) + punição 0.3 - média


result = sdStandardQF(
    targetVar="PURCHASES_TRX",
    maxSelectorSize=8,
    groupSizeReward=0.3,
    centroid='mean',
    selectors=ALL_SELECTORS,
    data=creditData,
)
result.to_dataframe()

In [ ]:
# SD 4: alvo numérico - todos os seletores - regras grandes (8) + punição 0.0 - média

result = sdStandardQF(
    targetVar="PURCHASES_TRX",
    maxSelectorSize=8,
    groupSizeReward=0.0,
    centroid='mean',
    selectors=ALL_SELECTORS,
    data=creditData,
)
result.to_dataframe()

In [ ]:
# SD 5: alvo numérico - todos os seletores - regras pequenas (3) + punição 1.0 - média

result = sdStandardQF(
    targetVar="PURCHASES_TRX",
    maxSelectorSize=3,
    groupSizeReward=1.0,
    centroid='mean',
    selectors=ALL_SELECTORS,
    data=creditData,
)
result.to_dataframe()

In [ ]:
# SD 6: alvo numérico - todos os seletores - regras pequenas (3) + punição 0.5 - média

result = sdStandardQF(
    targetVar="PURCHASES_TRX",
    maxSelectorSize=3,
    groupSizeReward=0.5,
    centroid='mean',
    selectors=ALL_SELECTORS,
    data=creditData,
)
result.to_dataframe()

In [ ]:
# SD 7: alvo numérico - todos os seletores - regras pequenas (3) + punição 0.3 - média

result = sdStandardQF(
    targetVar="PURCHASES_TRX",
    maxSelectorSize=3,
    groupSizeReward=0.3,
    centroid='mean',
    selectors=ALL_SELECTORS,
    data=creditData,
)
result.to_dataframe()

**Sobre os Valores de "a"**

Ao caminhar pelos valores de a na direção de 1.0 -> 0.0, subgrupos de tamanho menor e com diferenças mais extremas na média em relação à população (para compensar a menor recompensação pelo seu pequeno tamanho) são retornados.

Subgrupos menores são descritos por um número maior de variáveis, o que dificulta a interpretação.

#### Quality Function for Numeric Targets Using T-score

In [ ]:
# SD 8: alvo numérico - todos os seletores - regras grandes (8) + punição 0.5 - T-score

result = sdStandardQFNumericTscore(
    targetVar="PURCHASES_TRX",
    maxSelectorSize=8,
    selectors=ALL_SELECTORS,
    data=creditData,
)
result.to_dataframe()

In [ ]:
# SD 9: alvo numérico - todos os seletores - regras pequenas (3) + punição 0.5 - T-score

result = sdStandardQFNumericTscore(
    targetVar="PURCHASES_TRX",
    maxSelectorSize=3,
    selectors=ALL_SELECTORS,
    data=creditData,
)
result.to_dataframe()

### **Descrições Apenas com Variáveis Sobre o Comportamento de Compra**

#### Standard Quality Function for numeric targets.
    
This quality function computes interestingness of subgroups based on
the difference between subgroup mean (or median) and dataset mean (or median),
weighted by the size of the subgroup raised to the power of 'a'.

Attributes:
- a (float): Exponent to trade off between subgroup size and difference in means.
- invert (bool): Whether to invert the quality function (not used currently).
- estimator (str): Strategy for optimistic estimation ('sum', 'max', 'order').
- centroid (str): Central tendency measure ('mean', 'median', 'sorted_median').

In [ ]:
# SD 10: alvo numérico - seletores de comportamento de compra - regras grandes (8) + punição 1.0 - média

result = sdStandardQF(
    targetVar="PURCHASES_TRX",
    maxSelectorSize=8,
    groupSizeReward=1.0,
    centroid='mean',
    selectors=PURCHASE_BEHAVIOUR_SELECTORS,
    data=creditData,
)
result.to_dataframe()

In [79]:
# SD 11: alvo numérico - seletores de comportamento de compra - regras grandes (8) + punição 0.5 - média

resultPurchase = sdStandardQF(
    targetVar="PURCHASES_TRX",
    maxSelectorSize=8,
    groupSizeReward=0.5,
    centroid='mean',
    selectors=PURCHASE_BEHAVIOUR_SELECTORS,
    data=creditData,
)
# result.to_dataframe()

In [ ]:
# SD 12: alvo numérico - seletores de comportamento de compra - regras grandes (8) + punição 0.3 - média

result = sdStandardQF(
    targetVar="PURCHASES_TRX",
    maxSelectorSize=8,
    groupSizeReward=0.3,
    centroid='mean',
    selectors=PURCHASE_BEHAVIOUR_SELECTORS,
    data=creditData,
)
result.to_dataframe()

#### Quality Function for Numeric Targets Using T-score

In [ ]:
# SD 13: alvo numérico - seletores de comportamento de compra - regras grandes (8) + punição 0.5 - T-score

result = sdStandardQFNumericTscore(
    targetVar="PURCHASES_TRX",
    maxSelectorSize=8,
    selectors=PURCHASE_BEHAVIOUR_SELECTORS,
    data=creditData,
)
result.to_dataframe()

In [ ]:
# SD 14: alvo numérico - seletores de comportamento de compra - regras pequenas (3) + punição 0.5 - T-score

result = sdStandardQFNumericTscore(
    targetVar="PURCHASES_TRX",
    maxSelectorSize=3,
    selectors=PURCHASE_BEHAVIOUR_SELECTORS,
    data=creditData,
)
result.to_dataframe()

### **Descrições Apenas com Variáveis de Finanças e Dívida**

#### Standard Quality Function for numeric targets.
    
This quality function computes interestingness of subgroups based on
the difference between subgroup mean (or median) and dataset mean (or median),
weighted by the size of the subgroup raised to the power of 'a'.

Attributes:
- a (float): Exponent to trade off between subgroup size and difference in means.
- invert (bool): Whether to invert the quality function (not used currently).
- estimator (str): Strategy for optimistic estimation ('sum', 'max', 'order').
- centroid (str): Central tendency measure ('mean', 'median', 'sorted_median').

In [ ]:
# SD 15: alvo numérico - seletores de finanças e dívidas - regras grandes (8) + punição 1.0 - média

result = sdStandardQF(
    targetVar="PURCHASES_TRX",
    maxSelectorSize=8,
    groupSizeReward=1.0,
    centroid='mean',
    selectors=FINANCIAL_AND_DEBT_SELECTORS,
    data=creditData,
)
result.to_dataframe()

In [80]:
# SD 16: alvo numérico - seletores de finanças e dívidas - regras grandes (8) + punição 0.5 - média

resultFinance = sdStandardQF(
    targetVar="PURCHASES_TRX",
    maxSelectorSize=8,
    groupSizeReward=0.5,
    centroid='mean',
    selectors=FINANCIAL_AND_DEBT_SELECTORS,
    data=creditData,
)
# result.to_dataframe()

In [ ]:
# SD 17: alvo numérico - seletores de finanças e dívidas - regras grandes (8) + punição 0.3 - média

result = sdStandardQF(
    targetVar="PURCHASES_TRX",
    maxSelectorSize=8,
    groupSizeReward=0.3,
    centroid='mean',
    selectors=FINANCIAL_AND_DEBT_SELECTORS,
    data=creditData,
)
result.to_dataframe()

#### Quality Function for Numeric Targets Using T-score

In [ ]:
# SD 18: alvo numérico - seletores de finanças e dívidas - regras grandes (8) + punição 0.5 - T-score

result = sdStandardQFNumericTscore(
    targetVar="PURCHASES_TRX",
    maxSelectorSize=8,
    selectors=FINANCIAL_AND_DEBT_SELECTORS,
    data=creditData,
)
result.to_dataframe()

In [ ]:
# SD 19: alvo numérico - seletores de finanças e dívidas - regras pequenas (3) + punição 0.5 - T-score

result = sdStandardQFNumericTscore(
    targetVar="PURCHASES_TRX",
    maxSelectorSize=3,
    selectors=FINANCIAL_AND_DEBT_SELECTORS,
    data=creditData,
)
result.to_dataframe()

### **Comparação de Seletores**

In [81]:
resultAll.to_dataframe()

,quality,subgroup,size_sg,size_dataset,mean_sg,mean_dataset,std_sg,std_dataset,median_sg,median_dataset,max_sg,max_dataset,min_sg,min_dataset,mean_lift,median_lift
0,1376.919934,PURCHASES>=1451.50 AND PURCHASES_FREQUENCY>=1.0,981,8636,58.994903,15.033233,44.375460,25.17901,48.0,7.0,358,358,6,0,3.924299,6.857143
1,1374.712320,PURCHASES>=1451.50 AND PURCHASES_FREQUENCY>=1....,953,8636,59.564533,15.033233,44.559359,25.17901,48.0,7.0,358,358,12,0,3.962191,6.857143
2,1372.529295,BALANCE_FREQUENCY>=1.0 AND PURCHASES>=1451.50 ...,942,8636,59.752654,15.033233,44.916074,25.17901,49.0,7.0,358,358,6,0,3.974704,7.000000
3,1370.005766,BALANCE_FREQUENCY>=1.0 AND PURCHASES>=1451.50 ...,917,8636,60.274809,15.033233,45.070849,25.17901,49.0,7.0,358,358,12,0,4.009438,7.000000
4,1339.369029,INSTALLMENTS_PURCHASES>=620.84 AND PURCHASES>=...,767,8636,63.395046,15.033233,47.380500,25.17901,51.0,7.0,358,358,6,0,4.216993,7.285714
5,1336.844301,INSTALLMENTS_PURCHASES>=620.84 AND PURCHASES>=...,748,8636,63.913102,15.033233,47.517874,25.17901,51.0,7.0,358,358,12,0,4.251454,7.285714
6,1334.651225,BALANCE_FREQUENCY>=1.0 AND INSTALLMENTS_PURCHA...,735,8636,64.262585,15.033233,47.992946,25.17901,52.0,7.0,358,358,6,0,4.274702,7.428571
7,1331.641489,BALANCE_FREQUENCY>=1.0 AND INSTALLMENTS_PURCHA...,717,8636,64.764296,15.033233,48.135866,25.17901,52.0,7.0,358,358,12,0,4.308075,7.428571
8,1329.600072,ONEOFF_PURCHASES_FREQUENCY>=0.42 AND PURCHASES...,691,8636,65.613603,15.033233,44.704883,25.17901,53.0,7.0,358,358,12,0,4.364570,7.571429
9,1324.520460,BALANCE_FREQUENCY>=1.0 AND ONEOFF_PURCHASES_FR...,669,8636,66.242152,15.033233,45.121043,25.17901,54.0,7.0,358,358,12,0,4.406381,7.714286

In [83]:
resultPurchase.to_dataframe()

,quality,subgroup,size_sg,size_dataset,mean_sg,mean_dataset,std_sg,std_dataset,median_sg,median_dataset,max_sg,max_dataset,min_sg,min_dataset,mean_lift,median_lift
0,1376.919934,PURCHASES>=1451.50 AND PURCHASES_FREQUENCY>=1.0,981,8636,58.994903,15.033233,44.375460,25.17901,48.0,7.0,358,358,6,0,3.924299,6.857143
1,1339.369029,INSTALLMENTS_PURCHASES>=620.84 AND PURCHASES>=...,767,8636,63.395046,15.033233,47.380500,25.17901,51.0,7.0,358,358,6,0,4.216993,7.285714
2,1329.600072,ONEOFF_PURCHASES_FREQUENCY>=0.42 AND PURCHASES...,691,8636,65.613603,15.033233,44.704883,25.17901,53.0,7.0,358,358,12,0,4.364570,7.571429
3,1316.068741,INSTALLMENTS_PURCHASES>=620.84 AND ONEOFF_PURC...,630,8636,67.466667,15.033233,46.377519,25.17901,54.0,7.0,358,358,10,0,4.487835,7.714286
4,1310.841604,INSTALLMENTS_PURCHASES>=620.84 AND ONEOFF_PURC...,490,8636,74.251020,15.033233,47.814653,25.17901,62.0,7.0,358,358,15,0,4.939125,8.857143
5,1309.693666,INSTALLMENTS_PURCHASES>=620.84 AND ONEOFF_PURC...,512,8636,72.914062,15.033233,47.323195,25.17901,61.0,7.0,358,358,15,0,4.850192,8.714286
6,1306.724842,INSTALLMENTS_PURCHASES>=620.84 AND ONEOFF_PURC...,670,8636,65.516418,15.033233,45.809100,25.17901,52.5,7.0,358,358,8,0,4.358106,7.500000
7,1304.297365,ONEOFF_PURCHASES>=834.80 AND PURCHASES>=1451.5...,715,8636,63.811189,15.033233,44.516635,25.17901,52.0,7.0,358,358,9,0,4.244675,7.428571
8,1303.996965,ONEOFF_PURCHASES>=834.80 AND ONEOFF_PURCHASES_...,631,8636,66.944532,15.033233,45.884977,25.17901,54.0,7.0,358,358,12,0,4.453103,7.714286
9,1300.669938,INSTALLMENTS_PURCHASES>=620.84 AND ONEOFF_PURC...,558,8636,70.094982,15.033233,47.775760,25.17901,57.0,7.0,358,358,11,0,4.662669,8.142857

In [84]:
resultFinance.to_dataframe()

,quality,subgroup,size_sg,size_dataset,mean_sg,mean_dataset,std_sg,std_dataset,median_sg,median_dataset,max_sg,max_dataset,min_sg,min_dataset,mean_lift,median_lift
0,903.387418,CASH_ADVANCE_TRX: [0:1[ AND PAYMENTS>=2373.90,713,8636,48.865358,15.033233,48.824888,25.17901,35.0,7.0,358,358,0,0,3.250489,5.000000
1,903.387418,CASH_ADVANCE_FREQUENCY: [0.0:0.08[ AND PAYMENT...,713,8636,48.865358,15.033233,48.824888,25.17901,35.0,7.0,358,358,0,0,3.250489,5.000000
2,903.387418,CASH_ADVANCE_FREQUENCY: [0.0:0.08[ AND CASH_AD...,713,8636,48.865358,15.033233,48.824888,25.17901,35.0,7.0,358,358,0,0,3.250489,5.000000
3,903.387418,CASH_ADVANCE: [0.0:14.22[ AND PAYMENTS>=2373.90,713,8636,48.865358,15.033233,48.824888,25.17901,35.0,7.0,358,358,0,0,3.250489,5.000000
4,903.387418,CASH_ADVANCE: [0.0:14.22[ AND CASH_ADVANCE_TRX...,713,8636,48.865358,15.033233,48.824888,25.17901,35.0,7.0,358,358,0,0,3.250489,5.000000
5,903.387418,CASH_ADVANCE: [0.0:14.22[ AND CASH_ADVANCE_FRE...,713,8636,48.865358,15.033233,48.824888,25.17901,35.0,7.0,358,358,0,0,3.250489,5.000000
6,903.387418,CASH_ADVANCE: [0.0:14.22[ AND CASH_ADVANCE_FRE...,713,8636,48.865358,15.033233,48.824888,25.17901,35.0,7.0,358,358,0,0,3.250489,5.000000
7,731.429777,BALANCE>=2613.12 AND CASH_ADVANCE_TRX: [0:1[ A...,147,8636,75.360544,15.033233,68.510881,25.17901,60.0,7.0,358,358,2,0,5.012930,8.571429
8,731.429777,BALANCE>=2613.12 AND CASH_ADVANCE_FREQUENCY: [...,147,8636,75.360544,15.033233,68.510881,25.17901,60.0,7.0,358,358,2,0,5.012930,8.571429
9,731.429777,BALANCE>=2613.12 AND CASH_ADVANCE_FREQUENCY: [...,147,8636,75.360544,15.033233,68.510881,25.17901,60.0,7.0,358,358,2,0,5.012930,8.571429